{% extends 'manager/base.html' %} {% block content %}
{% load static %}
<div class="form container">
  <h3>Liste de vos dossiers</h3>
  <h4>Etudiant : {{ first_name }} {{ last_name }} </h4>
  <h5>CIN : {{ user_name }} </h5>

  {% if messages %}
    {% for message in messages %}
    <div class="d-flex justify-content-between alert alert-danger" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  {% endif %}

  {% if dossiers %}
  <table class="table table-info table-striped">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Sujet</th>
        <th scope="col">Encadrant</th>
        <th scope="col">Domaine</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      {% for dossier in dossiers %}
      <tr>
        <td>{{ dossier.get_Type_display }}</td>
        <td>{{ dossier.Sujet }}</td>
        <td>{{ dossier.Encadrant }}</td>
        <td>{{ dossier.Domaine }}</td>
        <td>
          <div class="d-flex justify-content-center align-items-center">
          <a class="mx-2"  href="{% url 'afficherdossier' dossier.pk %}">
            <img src="{% static 'icons/eye-solid.png' %}" alt="Show" width="18">
          </a>

          <a class="mx-2"  href="{% url 'updatedossier' dossier.pk %}">
            <img src="{% static 'icons/pen-solid.png' %}" alt="Show" width="18">
          </a>
          <form action="{% url 'deletedossier' dossier.pk %}" method="post">
            {% csrf_token %}
          <button class="mx-2 btn btn-outline" type="submit" onclick="confirmDeletion(event)">
            <img  src="{% static 'icons/trash-solid.png' %}" alt="Delete" width="18">
          </button>
          </form>
        </div>
        </td>
      </tr>

      {% endfor %}

  


    </tbody>
  </table>

  {% else %}
  <h3>Aucun Dossier</h3>
  {% endif %}
 
  <div class="d-grid gap-2">
    <a class="btn btn-primary" href="{% url 'newdossier' niveau nom_filier year user_name %}">Ajouter Nouveau Dossier</a>
  </div> 

  <div class="d-grid gap-2">
    <a class="btn btn-success mt-2" href="{% url 'FiliereEtud' %}">Retour</a>
  </div>
  
</div>

{% endblock content %}
