{% extends 'manager/base.html' %} 

{% block content %}
<div class="form container">
  <h3>Authentification</h3>
  <form action="{% url 'index' %}" method="POST">

    {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
    <div class="d-flex justify-content-between alert alert-danger" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="mb-3 row">
      <label for="CIN" class="col-sm-2 col-form-label">CNIE</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="CIN" name="CIN"/>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          var passwordInput = document.getElementById('password');
          var showPasswordIcon = document.getElementById('showPassword');
          
          showPasswordIcon.addEventListener('click', function() {
              if (passwordInput.type === 'password'){
                  passwordInput.type = 'text';
                  showPasswordIcon.classList.remove('eye-slash');
                  showPasswordIcon.classList.add('eye');
              } else {
                  passwordInput.type = 'password';
                  showPasswordIcon.classList.remove('eye');
                  showPasswordIcon.classList.add('eye-slash');
              }
          });
      });
      </script>
    <div class="pw mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Mot de passe</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password" name="PW" />
        <div class="eye-slash" id="showPassword"></div>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-sm-12">
        <button class="form-control  btn-primary " type="submit">S'autentifier</button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}