{% extends 'manager/base.html' %} 
{% load static %}
{% block content %}

<div class="form  container">
  <h3 class="text-light bg-danger p-2">Espace Admin</h3>
  <h3>Liste Professeurs</h3>
  <ul class="list-group">
  {% if profs %}
    <table class="table-responsive table-info table-striped">
      <thead>
        <tr>
          <th scope="col">CINE</th>
          <th scope="col">Nom complet</th>
          <th scope="col">Telephone</th>
          <th class="d-flex justify-content-center" scope="col">Operations</th>
        </tr>
      </thead>
      <tbody>
        {% for prof in profs %}
        <tr>
          <td>{{ prof.username }}</td>
          <td>{{ prof.last_name }} {{ prof.first_name }}</td>
          <td>{{ prof.tel }}</td>
          <td class="d-flex justify-content-center align-items-center">
            <a class="mx-2" href="{% url 'afficherProf' prof.pk %}">
              <img src="{% static 'icons/eye-solid.png' %}" alt="Show" width="20">
            </a>
            <a class="mx-2" href="{% url 'updateProf' prof.pk %}">
              <img src="{% static 'icons/pen-solid.png' %}" alt="Show" width="20">
            </a>
            <form   action="{% url 'deleteProf' prof.id %}" method="post">
              {% csrf_token %}
              <button   type="submit" class="btn btn-outline mx-2" onclick="confirmDeletion(event, '{{ prof.id }}')">
                <img src="{% static 'icons/trash-solid.png' %}" alt="Delete" width="20">
              </button>
            </form>
          </td>
        </tr>
        {% endfor %} 
      </tbody>
    </table>
  {% else  %}
  <li class="list-group-item">
    <h4 class="text-primary">Aucun Professeur</h4>
   </li>
  {%endif%}
  <!-- Ajout -->
  <div class="d-grid gap-2 mt-2">
    <a href="{% url 'ajoutProf' %}" class="btn btn-primary">Ajouter Professeur</a>
  </div>
  <div class="d-grid gap-2 mt-2">
    <a href="{% url 'filiereAdmin' %}" class="btn btn-success">Retour</a>
  </div>
</div>

{% endblock content %}